html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline
}

a {
    cursor: pointer
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    overflow-x: hidden
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 25px
}

* {
    box-sizing: border-box
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 .15rem 1.75rem 0 rgba(31, 45, 65, .15);
    border-bottom: 1px solid gray
}

.logo {
    margin-left: 15px;
    color: #222222;
    position: relative;
    float: left;
    text-decoration: none
}

.logo .logoText {
    display: inline-block;
    padding-top: 14px;
    font-weight: bold
}

.logoTitle {
    margin-left: 12px
}

.logo .logoText i {
    background: #533DC0;
    color: #ffffff;
    border-radius: 50%;
    font-size: 19px;
    width: 44px;
    height: 42px;
    text-align: center;
    padding: 11px 0 0
}

.navMenu {
    position: relative;
    float: right
}

.navMenu a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 24px 28px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700
}

.heroBanner {
    padding: 0
}

.heroBanner h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700
}

.heroBanner h3 {
    color: #ffffff;
    font-weight: 400
}

.heroBanner li {
    width: 100%;
    height: 670px;
    overflow: hidden;
    position: relative
}

.heroBanner li:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 12.2%, .5);
    z-index: 1
}

.bloglistTitle {
    border: 2px solid black
}

img.fullwidth {
    width: 100%;
    height: auto
}

.bannerContent {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 39%;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: 1.6
}

.portpolio {
    background: #f8f8f8;
    position: relative;
    padding: 40px 0
}

.portpolioTitle, .portpolioDesc {
    text-align: center
}

.portpolio h3, .portpolio h2 {
    color: #533DC0;
    margin-bottom: 5px
}

.portpolio h2 {
    text-transform: uppercase
}

.portpolio p {
    margin-top: 5px;
    font-size: 15px
}

.portpolioDesc {
    font-weight: 300
}

.portBx {
    width: 48%;
    height: 175px;
    float: left;
    background: #fff;
    margin-top: 34px;
    padding: 30px 25px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(31, 45, 65, .15)
}

.portBx h3 {
    color: #533DC0;
    text-transform: uppercase
}

.portBx:nth-child(even) {
    margin-left: 3%
}

.portBx .image {
    float: left;
    width: 100px;
    color: #533DC0;
    border: 3px solid #533DC0;
    border-radius: 50%;
    height: 100px;
    padding: 25px 0;
    text-align: center;
    font-size: 40px
}

.portBx .image img {
    width: 100%;
    height: auto
}

.portBx .pxDesc {
    float: left;
    width: 72%;
    margin-left: 25px
}

footer {
    background: #f5f5f5;
    padding-top: 50px;
    color: #222;
    font-weight: 700;
    text-align: center;
    border-top: .2px solid #ccc
}

footer .links a {
    color: inherit;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px
}

.s-share {
    text-align: center;
    margin-top: 22px
}

.s-share ul li {
    display: inline-block;
    margin: 0 12px
}

.s-share ul li a {
    font-size: 20px;
    display: block;
    background: #533DC0;
    color: #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 5px;
    text-align: center
}

.copywrite {
    background: rgba(238, 235, 235, .952);
    opacity: .5;
    padding: 15px 0;
    margin-top: 40px
}

.copywrite p {
    color: #000;
    font-weight: 400
}

footer p {
    color: inherit;
    margin: 0;
    font-size: 13px;
    font-weight: 300
}

.center {
    text-align: center
}

.flt-lft {
    float: left
}

.flt-rgt {
    float: right
}

.about {
    background-color: #f8f8f8
}

.aboutPage {
    width: 100%;
    max-width: 960px;
    margin: 78px auto 0;
    position: relative;
    z-index: 5
}

.aboutPage .head h1 {
    font-size: 60px;
    padding: 30px 0 10px 0;
    color: #533DC0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase
}

.aboutPage .aboutContent {
    margin-bottom: 25px
}

.aboutPage .aboutContentRight {
    width: 61%;
    text-align: left;
    padding: 20px 20px;
    box-sizing: border-box;
    float: right
}

.aboutPage .aboutContentLeft h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 5px
}

.aboutPage .aboutContentLeft p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666
}

.aboutPage .aboutContentLeft {
    width: 37%;
    float: left;
    line-height: 0;
    position: relative
}

.aboutPage .aboutContentLeft:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1
}

.aboutContentLeft img {
    width: 100%;
    height: auto;
    max-height: 250px
}

.aboutPage .thumbnailContent {
    width: 100%;
    padding: 25px 0
}

.aboutPage .thumbnailBx {
    width: 100%;
    float: left;
    margin: 0 1% 20px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(31, 45, 65, .15)
}

.aboutPage .thumbnailBx h3 {
    font-size: 16px;
    color: #533DC0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px
}

.aboutPage .thumbnailBx p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 25px
}

.cta-link {
    color: blue
}

.cta-link:hover {
    color: hotpink
}

.cta-link:visited {
    color: green
}

.ctaLink {
    color: blue;
    text-decoration: none
}

.contactUs {
    background-color: #f8f8f8;
    padding: 90px 0 100px 0;
    text-align: center
}

.contactUs .contactUsPage {
    width: 100%;
    margin: 78px auto 0;
    color: #533DC0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 0 0 40px 0
}

.contactUs .contactUsPage h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 25px
}

.contactUs .address {
    width: 560px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 .15rem 1.75rem 0 rgba(31, 45, 65, .15)
}

.contactUs .address h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    display: inline-block
}

.contactUs .address .emailId {
    display: block
}

.contactUs .address .emailId a {
    color: #533DC0;
    display: block;
    text-decoration: underline
}

.contactUs .mapSec {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ccc;
    position: relative
}

.contactUs .mapSec:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(5, 55, 64, .5);
    position: absolute
}

.contactUs .mapSec iframe {
    width: 100%;
    height: 100%
}

@media screen and (max-width:1000px) {
    .hero-banner li {
        height: 500px
    }
}

@media screen and (max-width:860px) {
    .hero-banner li {
        height: 400px
    }
    .portBx {
        width: 100%;
        max-width: 500px;
        float: none;
        margin: 25px auto
    }
    .portBx:nth-child(even) {
        margin: 0 auto
    }
}

@media screen and (max-width:600px) {
    .heroBanner li {
        height: 300px
    }
}

.blogListcontainer {
    width: 100%
}

.blog-content {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    margin-top: -8px
}

.blog-post {
    margin-top: 2%
}

.main-blog-div {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 180px
}

.main-blog-div:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(31, 45, 65, .15)
}

.blogpostTitle, .blog-details-title, h4, h2 {
    padding: 0 0 0px;
    color: #533dc0;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

h4 {
    padding: 0;
    color: black
}

.blogDetailsTitle {
    padding-bottom: 32px
}

.blogpostTitle {
    left: 0;
    font-size: 24px
}

.blogSummary {
    margin-left: 180px
}

.mainContainer {
    z-index: 10;
    padding: 1px 0;
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(31, 45, 65, .15)
}

.heroBanner {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 500px;
    overflow: hidden
}

.bannerImage {
    width: 100%;
    height: 100%
}

.socialTitle, .sliderTitle, .blogQuotes {
    padding: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto
}

.bloglistContainer, .blogContent {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 54px 25% 20px
}

.blogContent p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.6
}

.blogContent h2 {
    padding-top: 20px
}

.bloglist {
    width: 800px;
    margin: 27px 0;
    padding: 0 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    overflow: hidden
}

.bloglist:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.leftSection {
    float: left;
    width: 50%;
    margin: 0 0 0 0;
    padding-right: 20px
}

.rightSection {
    float: left;
    width: 50%
}

.timeStamp {
    color: #999
}

.blogPost {
    font-size: 20px;
    font-weight: 400;
    color: #474747;
    margin-top: 12px;
}

.post-author, .blogpost-author {
    margin: 0 5px;
    font-weight: 400;
    color: #090909
}

.blogPostTimeStamp, .blogpost-author {
    color: #eee
}

.listImages {
    height: 260px;
    width: 95%;
    max-width: 100%
}

.postLink {
    display: block;
    text-decoration: none;
    color: #533dc0;
    width: 150px;
    cursor: pointer
}

strong {
    color: #533dc0
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otroBlockquote {
    width: 70%;
    margin: 15px auto;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #533DC0;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
    overflow: hidden;
    height: auto
}

.blogpostImage {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 500px;
    margin-top: -25px;
    padding: 12px 12px
}

.otroBlockquote::before {
    position: absolute;
    left: 10px;
    top: -10px
}

.otroBlockquote::after {
    content: ''
}

.quoteIcon {
    display: block;
    margin-left: -58px;
    margin-bottom: -42px
}

.embededCodes {
    position: relative;
    left: -25%
}

.socialNetworl {
    margin: 0 auto;
    margin-bottom: 40px
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 3px solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}